/* div {
    height: 250px;
    width: 600px;
    border: 2px, solid black;
    padding-left: 10px;
}

#heading2 {
    background-color: skyblue;
}

h3 {
    background-color: rgba(87, 163, 87, 0.785);
} */

.box {
    display: inline-block;
    height: 300px;
    width: 200px;
    text-align: center;
}

.box1 {
    background-color: yellow;
}

.box2 {
    background-color: red;
}

.box3 {
    background-color: skyblue;
}

#border {
    height: 400px;
    width: 700px;
    border: 2px, solid, black;
    padding: 20px;
}

/* div {
    background-color: rgba(204, 116, 116, 0.781);
    border: 2px solid black;
    padding: 20px;
    width: 500px;
}
img {
    float: left;
    height: 200px;
    padding: 10px;
}
#p2 {
    clear: both;
    background-color: beige;
} */