* {
margin: 0;
padding: p;
box-sizing: border-box;
}
p{
    color: plum;
    background-color: azure;
    text-align: center;
    padding: 100px, 20px;
}
.color{
    color: powderblue;
    background-color: blanchedalmond;
}
body{
    background-color: beige;
}
#l1{
    color: darkseagreen;
    font-size: 50px;
}
div {
    height: 300px;
    width: 300px;
    background-color: cadetblue;
    padding: 50px;
    border: 5px dotted black;
    margin: 50px;
}

#box1 {
    height: 100px;
    width: 100px;
    color: aliceblue;
    background-color: grey;
    padding: 50px;
    border: 2px dashed pink;
}

#box2 {
    height: 100px;
    width: 100px;
    color: plum;
    background-color: turquoise;
    padding: 50px;
    border: 2px dashed darkgray;
}

#box3 {
    height: 100px;
    width: 100px;
    color: greenyellow;
    background-color: whitesmoke;
    padding: 50px;
    border: 2px solid black;
}

#box4 {
    height: 100px;
    width: 100px;
    color: burlywood;
    background-color: darkgreen;
    padding: 50px;
    border: 2px dotted blanchedalmond;
}