#box1 {
    border: 5px, solid, black;
    height: 400px;
    width: 600px;
    padding-left: 50px;
}

#box2 {
    background-color: yellow;
    border: 20px, solid, blue;
    height: 150px;
    width: 450px;
}