* {
margin: 0;
padding: p;
box-sizing: border-box;
}
p{
    color: plum;
    background-color: azure;
    text-align: center;
    padding: 100px, 20px;
}
.color{
    color: powderblue;
    background-color: blanchedalmond;
}
body{
    background-color: beige;
}
#l1{
    color: darkseagreen;
    font-size: 50px;
}
div {
    height: 300px;
    width: 300px;
    background-color: cadetblue;
    padding: 50px;
    border: 5px dotted black;
    margin: 50px;
}